@media only screen and (max-width:374px){ /*Makes text smaller on really small phones*/
    h2 {
        font-size: 60px;
    }
    h3 {
        font-size: 30px;
    }
}
@media only screen and (min-width:375px){
    h2 {
        font-size: 80px;
    }
    h3 {
        font-size: 40px;
    }
}
#title-area{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5vw;
}
h2 {
    padding-top:50px;   
    font-family: Roboto;
    color:#80819a;
}
h3 {
    font-family: Roboto;
    color:#80819a;
}